<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">Library</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                {% if request.user.is_superuser %}
                    <li>
                        <a class="nav-link scrollto" href="/admin">
                            Админка
                        </a>
                    </li>
                {% endif %}
                <li><a class="nav-link scrollto active" href="#hero">Домой</a></li>
                <li><a class="nav-link scrollto" href="#about">О нас</a></li>
                <li><a class="nav-link scrollto" href="#services">О поиске</a></li>
                <li><a class="nav-link scrollto" href="#team">Команда</a></li>
                <li><a class="getstarted scrollto" href="#about">Профиль</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>