<header id="header" class="sticky-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="{% url 'home_page' %}">Library</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                {% if request.user.is_superuser %}
                    <li>
                        <a class="nav-link scrollto" href="{% url 'admin:index' %}">
                            Админка
                        </a>
                    </li>
                {% endif %}
                <li><a class="nav-link active" href="{% url 'home_page' %}">Домой</a></li>
                <li><a class="nav-link" href="{% url 'books' %}">Поиск книг</a></li>
                {% if request.user.is_authenticated %}
                    <li><a class="nav-link" href="/">Мои книги</a></li>
                    <li><a class="getstarted" href='{% url 'profile' %}'>Профиль</a></li>
                {% else %}
                    <li><a class="getstarted" href='{% url 'login_page' %}'>Войти</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>