{% extends 'includes/index.html' %}
{% load static %}
{% block title %}
    Профиль
{% endblock %}

{% block main %}
    <section>
        <a class="nav-link" href="/logout">Выйти</a>
        <ul class="list-group">
            <li class="list-group-item">{{ request.user.username }}</li>
            <li class="list-group-item">{{ request.user.email }}</li>
            <li class="list-group-item">{{ request.user.first_name }}</li>
            <li class="list-group-item">{{ request.user.last_name }}</li>
        </ul>
    </section>
{#    {% if request.user.stared_books %}#}
        <section>
            <div class="row" style="padding: 10px">
                {% for book in books %}
                    <div class="col-sm-6" style="padding: 5px 5px">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <p class="card-text">{{ book.description }}</p>
                                <a href="/book/{{ book.slug }}" class="btn btn-primary">Открыть</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
{#    {% endif %}#}
{% endblock %}