{% extends 'includes/index.html' %}
{% load static %}
{% block title %}
    Смена пароля
{% endblock %}

{% block main %}
    <section>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label>
                    <input type="password" class="form-control" name="password1" placeholder="Пароль"
                           autocomplete="password" required>
                </label>
            </div>
            <div class="form-group mb-3">
                <label>
                    <input type="password" class="form-control" name="password2" placeholder="Пароль"
                           autocomplete="password" required>
                </label>
            </div>
            <input class="btn btn-outline-primary" type="submit" name="restore_password">
        </form>
    </section>
{% endblock %}